<!-- Si routerLink → lien -->
@if (routerLink) {
  <a
    [routerLink]="routerLink"
    class="app-btn"
    [ngClass]="{
      'btn-primary-custom': type === 'primary',
      'btn-secondary-custom': type === 'secondary',
      'btn-outline-custom': type === 'outline',
      'app-btn-icon': isIconOnly,
      'app-btn-block': block
    }"
  >
    @if (icon) {
      <i [class]="icon"></i>
      @if (!isIconOnly) { &nbsp; }
    }

    @if (!isIconOnly) {
      {{ label }}
    }
  </a>
}

<!-- Sinon → bouton classique -->
@else {
  <button
    class="app-btn"
    [ngClass]="{
      'btn-primary-custom': type === 'primary',
      'btn-secondary-custom': type === 'secondary',
      'btn-outline-custom': type === 'outline',
      'app-btn-icon': isIconOnly,
      'app-btn-block': block
    }"
  >
    @if (icon) {
      <i [class]="icon"></i>
      @if (!isIconOnly) { &nbsp; }
    }

    @if (!isIconOnly) {
      {{ label }}
    }
  </button>
}
