<div class="login-container text-center">
  <h2 class="text-orange mb-3">Bienvenue sur CoLive & Work !</h2>
  <p>Veuillez vous connecter pour accéder à votre espace !</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mx-auto" style="max-width: 400px;">
    <!-- Email -->
    <div class="form-group text-start mb-3">
      <label for="email" class="fw-bold text-orange">Email :</label>
      <input
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Votre email"
      >

      @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
        <div class="error">
          Veuillez saisir un email valide.
        </div>
      }
    </div>

    <!-- Mot de passe -->
    <div class="form-group text-start mb-3">
      <label for="password" class="fw-bold text-orange">Mot de passe :</label>
      <input
        id="password"
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Votre mot de passe"
      >

      @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
        <div class="error">
          Mot de passe requis (8 caractères minimum).
        </div>
      }
    </div>

    <!-- Options -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="rememberMe">
        <label class="form-check-label small">Se souvenir de moi</label>
      </div>
      <a href="#" class="text-white small text-decoration-underline">Mot de passe oublié ?</a>
    </div>

    <button type="submit" class="btn btn-orange w-100 fw-bold mb-4">Se connecter</button>
  </form>

  <p class="mt-3 small">Vous n’avez pas de compte ? Inscrivez-vous avant de vous connecter !</p>
  <button class="btn btn-outline-orange fw-bold">S’inscrire</button>
</div>
