/* =======================================
   TOP 3 ESPACES
======================================= */

.top-spaces-section {
  padding: 60px 0;
  background-color: #0d0d0d;
}

/* Titre section */
.top-spaces-section .section-title {
  text-align: center;
  margin-bottom: 30px;
}

/* CENTRAGE des cartes*/
.top-spaces-section .spaces-row {
  justify-content: center;
}
