<section class="hero d-flex align-items-center justify-content-center text-center">
  <div class="container">
    <h1 class="display-5 fw-bold text-uppercase mb-3">COLIVE & WORK</h1>
    <p class="lead mb-4">
      “Partageons plus, compliquons moins”<br>
      Rejoignez la communauté et découvrez une nouvelle façon de vivre et de travailler !
    </p>

    <app-button
      label="Découvrir nos espaces"
      type="primary"
      routerLink="/nos-espaces">
    </app-button>
  </div>
</section>
