.legal {
  background-color: #000;
  color: #dbdbdb;
  line-height: 1.8;
}

.text-orange {
  color: #ff6d36;
}

.section-title {
  color: #ff6d36;
  font-weight: 600;
  border-left: 4px solid #ff6d36;
  padding-left: 10px;
  margin-top: 2rem;
}
/* Correction couleur pour la ligne "Dernière mise à jour" */
.legal .text-muted,
.privacy .text-muted {
  --bs-text-opacity: 1 !important;  
  color: #ffffff !important;        
  font-weight: 500;
  opacity: 1 !important;
}
