<nav class="navbar navbar-expand-lg shadow-sm bg-black">
  <div class="container">
    <!-- Logo + texte -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="logos/logo-colivework.webp" alt="logo" width="60" height="60" class="me-2 img-fluid">
      <span class="fw-bold fs-4 text-white mb-0">COLIVE&WORK</span>
    </a>

    <!-- Bouton mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Liens -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item"><a class="nav-link active text-white" href="#">Accueil</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Qui sommes-nous ?</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Nos espaces</a></li>
      </ul>

      <!-- Boutons -->
      <div class="d-flex justify-content-center justify-content-lg-end mt-3 mt-lg-0">
        <button class="btn btn-outline-light me-2">Espace client</button>
        <button class="btn btn-outline-light">Espace propriétaire</button>
      </div>
    </div>
  </div>
</nav>
